<style>
{
	box-sizing: border-box;
}
.h1prop
{
	text-align: center;
    font-family: le jour serif;
    margin-top: 1%;
    font-size:30px;
	font-weight:bold;
	padding-left:50px;
	padding-right:50px;
}
.new
{
    text-align: center;
    margin-top: 0%;
    text-decoration: none;
    font-family: raleway;
    font-weight: bold;
    text-decoration: none;
    
}
.grad
{
	height:3cm;
	margin-left: 5cm;
	margin-top: 3%;
}
.times{
	margin-left: 5cm;
	margin-top: 1cm;
	margin-bottom: 2cm;
}
.contain
{
	 height:4cm;
	margin-top: 1cm;
	
}
.detail
{
	height:4cm;
	margin-top: 1cm;
}
.span 
{

	height:4cm;
	margin-top: 1cm;
}
  
.topnav
{
	overflow: hidden;
	position: static;
	
}
.topnav a
{
	text-align: center;
	text-decoration: none;
}
.topnav :hover

{
	background-color: #ddd;
	color:green;
}
.footer
{
	text-align: left;
	margin-left: 5cm;
	margin-bottom: 5cm;
}
</style>
